body {
    margin-top: 30px;
}

.Photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
}

h1, p {
    margin: 0; 
    line-height: 1.5;
    font-family: sans-serif; 
}

h1{
    color:darkslategrey;
}

.icon {
    margin-top: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.date{
    margin-right: 450px;
}

